
/* ======== PORTAFOLIO - TOMAS CARATTI ======== */
/* ======== Estilos CSS ======== */

/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

/* Global Variables */
:root {
    --themeBGColor:#02967d;
    --iconColor:#fff;
    --iconBGColor: #252a2e;
    --headerBGColor:#000911;
    --BGColor:#010e1a /*#010d18*/;
    --bg-btn-primary:#09182c;
    --bg-btn-active:#1b3f74;
}

/*Scrollbar*/
body::-webkit-scrollbar {
    width: 10px;
    background-color: #000;
}
body::-webkit-scrollbar-thumb {
    width: 1x;
    background-color: var(--bg-btn-primary);
    border-radius: 5px;
}
body::-webkit-scrollbar-thumb:hover {
    background-color: var(--themeBGColor);
}

/* ====== B O D Y ====== */
body {
    background-color: var(--BGColor);
}

/* === Inicio HEADER ==== */
/* ----Navbar---- */
header nav {
    width: 100%;
    background-color: var(--headerBGColor);
}
.navbar {
    --bs-navbar-padding-x: 0;
    --bs-navbar-padding-y: 0.3rem;
}
.navbar-brand i {
display: inline-block;
width: 2.7rem;
height: 2.7rem;
text-align: center;
line-height: 2.6rem;
border-radius: 50%;
background-color: var(--iconBGColor);
font-size: 1.2rem;
transition: .3s;
}
.navbar-brand:hover i {
    background-color: var(--themeBGColor);
}
header nav .navbar-brand p {
    margin: 0 0.4rem;
    font-size: 0.7rem;
    font-weight: 600;
}

/* -----menu navbar------ */
.menu li a {
    padding: 0.2rem 0.5rem !important;
    letter-spacing: -0.04rem;
    align-items: center;
}
.menu li a i {
    padding-right: 0.3rem;
    transition: .3s;
}
.menu li a:hover i {
    color: var(--themeBGColor) !important;
}
.active i {
    color: var(--themeBGColor);
}

/* ----botón loguin---- */
.btn-primary {
    --bs-btn-bg: var(--bg-btn-primary);
    --bs-btn-border-color:var(--bg-btn-primary);
    --bs-btn-hover-bg: var(--themeBGColor);
    --bs-btn-hover-border-color:var(--themeBGColor);
    --bs-btn-active-bg: var(--bg-btn-active);
    --bs-btn-active-border-color: var(--bg-btn-active);
    border-radius: 20px;
    height: 2.5rem;
    font-weight: 300;
    font-size: 0.9rem;
    align-items: center;
}
.btn-primary .icon-p {
    padding: 0 0 0 0.5rem;
    font-size: 1.2rem;
}

/* -----Navbar toggler----- */
.navbar-toggler {
    color: var(--iconColor);
    background-color: var(--iconBGColor);
    font-size: 1.5rem;
}
.navbar-toggler-icon {
    display: inline-block;
    width: auto;
    height: auto;
    vertical-align: middle;
    background-image: none;
}
.navbar-nav {
    --bs-nav-link-padding-x: 0.2rem;
    --bs-nav-link-padding-y: 0.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
}
/* === Fin HEADER ==== */

/* === Inicio MAIN ==== */
/* ---------------------- S E C C I Ó N-------------------------- */
/* -----Banner----- */
.banner {
    width: 100%;
    height: 63vh;
    position: relative;
    background-image: linear-gradient(rgb(1, 0, 12, 0.5), rgba(1, 0, 12, 0.5)), url("../img/banner.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* ----- Acerca De ----- */
.acerca-de {
    padding: 0 1rem;
	text-align: center;
    background-color: var(--headerBGColor);
}
.perfil {
	width: 14rem;
	height: 14rem;
    margin-top: -2rem;
    border-radius: 50%;
    border: 0.6rem solid var(--headerBGColor);
}
.informacion h1 {
    font-size: 2.4rem;
    font-weight: 800;
	padding-top: 13vh;
    margin: 0;
    color: var(--themeBGColor);
}
.informacion h3 {
    font-weight: 300;
    margin: 0;
    padding: 0.5rem 0;
}
.descripcion {
	padding: 1rem;
}
.descripcion h2 {
    font-weight: 600;
    font-size: 2.2rem;
    margin-bottom: 1rem;
    padding: 0;
}
.descripcion p {
    margin: 0;
    padding:0;
    line-height: 1.5rem;
}
.descripcion p span {
    color: var(--themeBGColor);
}

/* ---redes profecionales ---- */
.social-prof {
    margin-bottom: 0.5rem;
}
.social-prof .redes {
    display: inline-block;
    width: 2.9rem;
    height: 2.9rem;
    text-align: center;
    line-height: 3rem;
    border-radius: 50%;
    background-color: var(--iconBGColor);
    color: var(--iconColor);
    font-size: 1.8rem;
    margin: 0.5rem;
    transition: .3s;
}
.social-prof .redes:hover {
    background-color: var(--themeBGColor);
}

/* ---------------------- S E C C I Ó N-------------------------- */
/* --- Datos & Intereses --- */
.datos-intereses {
    margin: 2rem;
}
.datos-intereses h3 {
    margin-bottom: 2.5rem;
    font-weight: 500;
    border-bottom: 0.1rem solid var(--themeBGColor);
}
.datos-intereses .datos {
    margin-left: 2rem;
}
.datos-intereses .datos ul {
    list-style: none;
}
.datos-intereses .datos ul li {
    margin: 1.2rem 0;
}
.datos-intereses .datos ul li strong {
    display: inline-block;
    color: var(--themeBGColor);
    width: 6rem;
}
.datos-intereses .datos ul li svg {
    border-radius: 5px;
    align-items: center;
    margin: 0 0.4rem;
}
.datos-intereses .intereses {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.datos-intereses .intereses .interes {
    width: 7.5rem;
    height: 7.5rem;
    background-color: var(--iconBGColor);
    border-radius: 20px;
    margin: 0 0.4rem 0.4rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}
.datos-intereses .intereses .interes i {
    margin-bottom: 0.5rem;
    font-size: 1.8rem;
}
.datos-intereses .intereses .interes img {
    width: 2rem;
    margin-bottom: 0.5rem;
    filter: invert(100%)
}
.datos-intereses .intereses .interes:hover{
    background-color: var(--themeBGColor);
}

/* ---------------------- S E C C I Ó N-------------------------- */
/* --- Educación & Experiencia --- */
.curriculum {
    margin: 2rem;
}
.curriculum h2 {
    font-weight: 600;
    font-size: 2.2rem;
    margin-top: 3.5rem !important;
    padding-bottom: 1rem !important;
}
.curriculum .colum h3 {
    margin-bottom: 2.5rem;
    font-weight: 500;
    border-bottom: 0.1rem solid var(--themeBGColor);
}
.curriculum .colum {
    padding: 0 1.5rem;
    margin: 0.5rem;
}
.curriculum .educacion {
    border-right: 0.2rem solid var(--iconBGColor);
}
.curriculum .experiencia {
    border-left: 0.2rem solid var(--iconBGColor);
}
.curriculum .item {
    padding: 1.2rem;
    margin-bottom: 2rem;
    border-radius: 20px;
    background-color: var(--iconBGColor);
}
.curriculum .item h4 {
    margin-bottom: 1.3rem;
    font-weight: 500;
    font-size: 1.4rem;
}
.curriculum .item .casa{
    color: var(--themeBGColor);
    font-weight: 700;
    font-size: larger;
    display: block;
}
.curriculum .item .fecha {
    color: var(--themeBGColor);
    display: block;
    margin-bottom: 0.5rem;
}
.curriculum .item p {
    line-height: 1.5rem;
}
.curriculum .edu{
    border-right: 0.2rem solid var(--themeBGColor);
}
.curriculum .exp{
    border-left: 0.2rem solid var(--themeBGColor);
}
.curriculum .certifi {
    border: none;
    border-radius: 50% !important;
    background-color: var(--BGColor);
    height: auto !important;
}
.curriculum .certifi i {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    text-align: center;
    line-height: 2.2rem;
    color: var(--iconColor);
    font-size: 1.5rem;
    margin: 0.5rem;
    transition: .3s;
}
.curriculum .certifi:hover {
    background-color: var(--themeBGColor);
}
.curriculum .cvitae button {
    cursor: pointer;
    margin-top: 4rem;
}

/* ---------------------- S E C C I Ó N-------------------------- */
/* --- Habilidades --- */
.habilidades {
    margin: 2rem;
}
.habilidades h2 {
    font-weight: 600;
    font-size: 2.2rem;
    margin-top: 3.5rem !important;
    padding-bottom: 1rem !important;
}
.habilidades .habilidad {
    padding: 1rem;
}
.habilidades .habilidad h3 {
    margin-bottom: 2.5rem;
    font-weight: 500;
    border-bottom: 0.1rem solid var(--themeBGColor);
}
.habilidades .habilidad .hab {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    background-color: var(--iconBGColor);
}
.habilidades .habilidad .hab span{
    margin-bottom: 0.6rem;
    align-items: center;
}
.habilidades .habilidad .hab span h5{
    margin: 0;
    font-weight: 400;
    transition: .3s;
}
.habilidades .habilidad .hab:hover span h5{
    color: var(--themeBGColor);
}
.habilidades .habilidad .hab span i{
    display: inline-block;
    text-align: center;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    font-size: 1.4rem;
    border-radius: 50%;
    background-color: var(--iconBGColor);
    color: var(--iconColor);
    transition: .3s;
}
.habilidades .habilidad .hab:hover span i{
    background-color: var(--themeBGColor);
}
.habilidades .habilidad .hab .progress{
    height: 1rem;
    border: 0.01rem solid var(--themeBGColor);
    border-radius: 20px;
    background-color: var(--iconBGColor);
}
.habilidades .habilidad .hab .progress-bar{
    font-weight: 300;
    background-color: var(--themeBGColor);
    animation: animate-progress 1s;
    animation-fill-mode: backwards;
}
@keyframes animate-progress {
    from {
        opacity: 0;
        width: 0%;
    }
    to {
        opacity: 1;
        width: style;
    }
}

/* ---------------------- S E C C I Ó N-------------------------- */
/* --- Proyectos --- */
.proyectos {
    margin: 2rem;
    border-bottom: 0.1rem solid var(--themeBGColor);
}
.proyectos h2 {
    font-weight: 600;
    font-size: 2.2rem;
    margin-top: 3.5rem !important;
    padding-bottom: 1rem !important;
    border-bottom: 0.1rem solid var(--themeBGColor);
}
.proyectos .proyecto {
    padding: 1rem 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.proyectos .proyecto .tarjeta {
    margin: 0.5rem;
    transition: all .3s;
}
.proyectos .proyecto .tarjeta:hover {
    z-index: 15;
}
.proyectos .proyecto .tarjeta .tar-head {
    width: 100%;
    height: 17rem;
    padding: 0.5rem;
    border-radius: 20px;
    background: var(--BGColor);
    border: 0.2rem solid var(--iconBGColor);
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;
    transition: all .3s cubic-bezier(0.2,0,0,1);
}
.proyectos .proyecto .tarjeta:hover .tar-head {
    border: none;
    margin-top: -7rem;
    background: var(--iconBGColor);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.proyectos .proyecto .tarjeta .tar-head .head-img img {
    width: 100%;
    height: 12rem;
    border-radius: 20px;
}
.proyectos .proyecto .tarjeta .tar-head .head-proy{
    display: flex;
    padding-top: 0.5rem;
    padding-bottom: 0;
    align-items: center;
}
.proyectos .proyecto .tarjeta .tar-head .head-proy i {
    display: inline-block;
    text-align: center;
    width: 2.8rem;
    height: 2.8rem;
    line-height: 2.8rem;
    font-size: 1.7rem;
    border-radius: 50%;
    margin-right: 1rem;
    background-color: var(--iconBGColor);
    transition: all .3s cubic-bezier(0.2,0,0,1);
}
.proyectos .proyecto .tarjeta:hover .tar-head .head-proy i {
    background-color: var(--themeBGColor);
}
.proyectos .proyecto .tarjeta .tar-head .head-proy h4 {
    padding: 0;
    margin-bottom: 0.2rem;
    font-weight: 500;
}
.proyectos .proyecto .tarjeta .tar-head .head-proy h6 {
    padding: 0;
    margin: 0;
    font-weight: 300;
    font-size: 0.9rem;
    color: var(--themeBGColor);
}
.proyectos .proyecto .tarjeta .tar-body {
    width: 100%;
    height: 12rem;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background: var(--iconBGColor);
    padding: 0 1rem;
    margin-top: -12rem;
    transition: all .3s cubic-bezier(0.2,0,0,1);
}
.proyectos .proyecto .tarjeta:hover .tar-body {
    margin-top: 0;
}
.proyectos .proyecto .tarjeta .tar-body p {
    margin: 0;
    height: 6rem;
}
.proyectos .proyecto .tarjeta .tar-body .repo-live {
    padding-top: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.proyectos .proyecto .tarjeta .tar-body .repo-live a {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem;
    margin-bottom: 0.3rem;
    border-radius: 20px;
    color: var(--iconColor);
    background-color: var(--bg-btn-primary);
    text-decoration: none;
}
.proyectos .proyecto .tarjeta .tar-body .repo-live a i {
    display: inline-block;
    text-align: center;
    width: 1.8rem;
    height: 1.8rem;
    line-height: 1.9rem;
    font-size: 1.1rem;
    border-radius: 50%;
    margin-right: 1rem;
    background-color: var(--iconBGColor);
}
/* === Fin MAIN ==== */

/* === Inicio FOOTER ==== */
/* --- Contacto / Datos & Lugar & Redes --- */
.contacto {
    margin-top: 6rem;
    padding: 1rem;
    background-image: url("../img/footer.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--headerBGColor);
    color: var(--iconColor);
    opacity: 0.9;
}
/* --- Contacto --- */
.contacto .mensaje {
    padding: 1rem;
    border-radius: 20px;
    border: 0.2rem solid var(--iconBGColor);
}
.contacto .mensaje h3 {
    margin-bottom: 1rem;
    padding-bottom: 0.2rem;
    font-weight: 500;
    border-bottom: 0.1rem solid var(--themeBGColor);
}
.contacto .mensaje form .enviar {
    margin-top: 2rem;
    padding-top: 1rem;
    border-top: 0.1rem solid var(--themeBGColor);
}

/* --- Datos & Lugar & Redes --- */
.contacto .lugar {
    padding: 1rem 2rem;
    border-radius: 20px;
    border: 0.2rem solid var(--iconBGColor);
}
.contacto .lugar .tema-datos {
    padding-bottom: 1rem;
}
.contacto .lugar .tema-datos ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.contacto .lugar .tema-datos ul li {
    margin-bottom: 0.3rem;
    align-items: center;
}
.contacto .lugar .tema-datos ul li i {
    display: inline-block;
    margin-right: 1rem;
    width: 2rem;
    height: 2rem;
    line-height: 1.8rem;
    text-align: center;
    font-size: 1.2rem;
    border-radius: 50%;
    color: var(--themeBGColor);
    border: 0.15rem solid var(--themeBGColor);
    background-color: var(--iconBGColor);
} 
.contacto .lugar iframe {
    width: 100%;
    height: 40vh;
    margin-bottom: 0.5rem;
    border-radius: 20px;
    position: relative;
}

/* --- Redes --- */
.contacto .redes-sociales {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0.5rem;
    border-top: 0.1rem solid var(--themeBGColor);
}
.contacto .redes-sociales a {
    margin: 0.5rem;
}
.contacto .redes-sociales a i {
    display: inline-block;
    width: 2.4rem;
    height: 2.4rem;
    line-height: 2.2rem;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 50%;
    color: var(--themeBGColor);
    border: 0.15rem solid var(--themeBGColor);
    background-color: var(--iconBGColor);
    transition: .3s;
}
.contacto .tema .redes-sociales a i:hover {
    color: var(--iconColor);
    background-color: var(--themeBGColor);
}

/*--- Derechos ---*/
.derechos p {
    font-size: 0.85rem;
}
.derechos p span {
    color: var(--themeBGColor);
}
/* === Fin FOOTER ==== */

/* ---------------------------- MODALES ------------------------------ */
.modal-footer {
    justify-content: center;
    padding: 0.5rem;
}

/* --------------------------- FORMULARIOS --------------------------- */
.form-control {
    background-color: #e2e2e2;
    border-radius: 10px;
    border: 0.01rem solid var(--iconBGColor);
}