
*{
    margin: 0;
    padding: 0;
}

/*Scrollbar*/

body::-webkit-scrollbar{
    width: 12px;
    background-color: #000;
}
body::-webkit-scrollbar-thumb{
    width: 1x;
    background-color: #09182c;
    border-radius: 5px;
}
body::-webkit-scrollbar-thumb:hover{
    background-color: #152d50;
}

/*BODY*/

main{
    background-image: linear-gradient(rgb(0, 0, 0, 0.85),rgb(0, 0, 0, 0.85)), url("../img/fondo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    align-items: center;
    position: relative;
}

/*NavBar*/

.navbar{
    --bs-navbar-padding-y: 0.3rem;
    --bs-navbar-brand-padding-y: 0.6rem; 
    z-index: 20;
    background-color: #000109;
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}

/*Navbar Componentes*/

.list-group{
    --bs-list-group-bg: tramsparent;
    --bs-list-group-border-width: none;
}
.LogoAP:hover{
    transition: transform .2s;
    transform: scale(1.25);
}
.fa-brands:hover{
    transition: transform .2s;
    transform: scale(1.5);
}
.fa-solid:hover{
    transition: transform .2s;
    transform: scale(1.55);
}
.fa-2x {
    font-size: 1.5rem;
}
.fa-2 {
    font-size: 1.3rem;
}
.dropdown-menu{
    --bs-dropdown-min-width: 0;
}

.btn-primary {
    --bs-btn-bg: #09182c;
    --bs-btn-border-color: #09182c;
    --bs-btn-hover-bg: #152d50;
    --bs-btn-hover-border-color: #152d50;
    --bs-btn-active-bg: #1b3f74;
    --bs-btn-active-border-color: #1b3f74;    
    --bs-border-width: 0;
    border-radius: 25px;
    width: 6rem;
    height: 2.6rem;
}

.modal-footer {
    justify-content: center;
    padding: 0.5rem;
}
.form-control {
    background-color: #e2e2e2;
    border-radius: 0.8rem;
}

/*Header*/
.banner{
    width: 100%;
    height: 56vh;
    margin-top: 8.4vh;
    position: relative;
    background-color: #000109;
}

.banner img {
    margin-top: -0.5rem;
    width: 100%;
    height: 58vh;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
}

/*Acerca de*/

.bg-opacity{    
    --bs-bg-opacity: 0;
}

.about-me{
    width: 100%;
	position: relative;
	text-align: center;
    background-color: #000109;
}
.perfil{
	border-radius: 50%;
	width: 18rem;
	height: 18rem;
    margin-top: -1rem;
	position: relative;
	border: 5px solid #000109;
}

.informacion h1 {
	padding-top: 20vh;
}
.informacion h2 {
	padding-bottom: 4vh;
}

.descripcion{
	padding: 2%;
	border: 1px solid #ffffff10;
	border-radius: 25px;
}

.descripcion h3{
	font-size: 2.5em;
}

/*MAIN*/

.section-container{
    padding: 5%;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, .1);    
    backdrop-filter: blur(0.3rem);
    z-index: -10;
}


.cvitae button{
    width: 10rem;
    height: 3rem;
    margin-top: 8rem;
    border: none;
    background-color: #09182c;
    border-radius: 25px;
}

main>section{
    padding: 6rem 0;
    margin: auto;
}

.card-proyecto{
    transition: .4s;
}

.card-proyecto:hover{    
    transform: scale(1.3);
    z-index: 10;
}

/*FOOTER*/

footer{
    background: #000109;
}